@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(/fonts/yanonekaffeesatz-regular-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(/fonts/droidserif-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(/fonts/droidserif-bold-700.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url(/fonts/droidserif-italic-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(/fonts/ubuntumono-regular-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url(/fonts/ubuntumono-bold-700.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Mono Italic'), local('UbuntuMono-Italic'), url(/fonts/ubuntumono-italic-400.ttf) format('truetype');
}

body {
  font-family: 'Droid Serif';
}
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
}
.red { color: #fa0000; }
.footnote {
  position: absolute;
  bottom: 3em;
  font-size: 16px;
}
.footnote-center {
  position: absolute;
  bottom: 3em;
  left: 0;
  font-size: 16px;
  text-align: center;
  width: 100%;
}
a, a >code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}
code {
  -moz-border-radius: 5px;
  -web-border-radius: 5px;
  background: #e7e8e2;
  border-radius: 5px;
}
.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
}
.remark-code-line-highlighted {
  background-color: #373832;
}
#slideshow .slide .content code {
  font-size: 0.8em;
}
#slideshow .slide .content pre code {
  font-size: 0.9em;
  padding: 15px;
}
/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
/* Other stuff */
.table {
  border: 1px solid #373832;
  border-collapse: collapse;
  margin: 0;
  width: 100%;
}
.table th {
  border: 1px solid #373832;
  background-color: #dedede;
  padding: 0.5em 1em;
}
.table td {
  border: 1px solid #373832;
  padding: 0.5em 1em;
}
.quote {
  display: block;
  border-left: 1px solid #777;
  margin: 1em;
  padding-left: 0.5em;
  color: #777;
  font-style: italic;
}
.remark-code {
    font-size:6px;
}
